body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(48, 41, 41);
    justify-content: space-between;
    height: 100vh;
    overflow-x: hidden;
}
.header{
    display: flex;
    align-content: center;
    height: 10%;
}
.logo {
    display: flex;
    align-content: center;
    margin: auto;
}
.logo-text {
    margin: 0 auto;
    color: rgb(234, 146, 46);
    font-size: 30px;
}
.main {
    display: flex;
    margin: 0 auto;
    height: 80%;
    align-content: center;
    align-items: center;
    align-content: center;
}
.mem-slider {
    display: flex;
    height: 100%;
    width: 765px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    row-gap: 10px;
}
.slider {
    display: flex;
    position: inherit;
    height: 80%;
    width: 100%;
}
.picture{
    border-radius: 10px;
    margin: 0 auto;
    height: auto;
    width: auto;
    object-fit: fill;
    animation: slidein 1s ease 0s 1 normal forwards;
}

@keyframes slidein {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.controls {
    position: relative;
    height: 45px;
    margin: 0 auto;
}
.buttons {
    height: 15px;
    width: 100px;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
}
.button {
    border: solid 1px blue;
    border-radius: 50%;
    background-color: blue;
    width: 10px;
    height: 10px;
}
.button:hover {
    transition: .3ms;
    background-color: white;
    border: solid 1px white;
}
.choosed {
    background-color: rgb(48, 41, 41);;
    border: solid 1px blue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.choosed:hover {
    transition: .3ms;
    border: solid 1px white;
}
.discription {
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
}
.text{
    display: inline;
    color: rgb(234, 146, 46);
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    animation: slidein 1s ease 0s 1 normal forwards;
}
footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}